<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head th:replace="fragments/headTag :: headTag"><title>Ojt</title>
    </head>
    <body>

        <div class="container navbar" >
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>
        </div>

        <div class="container" >            
            <!-- Header -->
             <p th:text="${message}"></p>
            <form  th:object="${student}" action="addSubmit (Not used)" th:action="@{/ojt/addSubmit}" method="get">
                <div class="container" >
                    <div class="intro-text form-horizontal" >
                        Add Student
                    </div>
                    <div>
                        <input type="hidden" th:field="${student.id}" />
                        <label>Student Id</label>
                        <input type="text" name="studentId" th:field="${student.studentId}" maxlength="100"/>
                        <br/>
                        <label>Name</label>
                        <input type="text" name="studentName" th:field="${student.studentName}" maxlength="100"/>
                       <ul th:if="${#fields.hasErrors('studentName')}">
                                        <li class="error" th:each="err : ${#fields.errors('studentName')}" th:text="${err}">name is invalid</li>
                                 </ul><br/> 
                        <br/>
                        <label>Reflection</label>
                        <input type="text" name="reflection" th:field="${student.reflection}" maxlength="100"/>
                        <ul th:if="${#fields.hasErrors('reflection')}">
                                        <li class="error" th:each="err : ${#fields.errors('reflection')}" th:text="${err}">Reflection is invalid</li>
                                 </ul><br/>
                        <br/>
                        
                        <div style="text-align: left;" class="form-actions">
                        <button class="btn btn-primary btn-lg" type="submit">Submit</button>
                    </div>

                    </div>



                </div>
            </form>
            <div th:include="fragments/footer" th:remove="tag">
            </div>
        </div>
    </body>
</html>